.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
   justify-content: center;
   width: 1300px;
   height: 600px;
   border-radius: 16px;
    margin: auto;
    
    
}
.banner-content{
    color: #FFF;
text-align: center;
}
.banner-title{
    padding-top: 170px;
    font-size: 32px;

font-weight: 400;

}
.banner-text{
font-family: Merriweather;
font-size: 72px;
justify-content: center;
align-items: center;
align-content: center;
margin: auto;
width: 600px;
}

.about-offer{
    text-align: center;
    color: #F00;
font-size: 88px;
font-weight: 700;
font-family: 'Inter', sans-serif;
gap: 45px;
margin-bottom: 10px;
}
.about-text{
    color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
}
.about-desc{
    text-align: center;
    color: #070211;
    font-family: 'Inter', sans-serif;
font-size: 48px;
font-weight: 700;

}
.image{
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
 }
 .section-title{
    background-image: url(B9A1-New-Year-New-Mission/resources/Vectorrr.png);
    width: 1300px;
    height: 600px;
    justify-content: center;
    margin: auto;
    border-radius: 16px;
 }
 .section-head{
    margin-top: 124px;
    padding-left: 120px;
    padding-right: 550px;
    text-align: center;
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
 }
 .section-info{
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
 }
 .btn-primary{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin-top: 45px;
border: 0;
 }
 
 

 .rectangle{
    justify-content: center;
    display: flex;
    gap: 24px;
    border-radius: 16px;
    margin: 0 140px;
 }
 .img-row-2{
    justify-content: center;
    display: flex;
    gap: 24px;
    border-radius: 16px;
    margin-top: 24px;
 }
 .party-container{
    background-color: rgba(255, 0, 0, 0.10) 0%;
   margin: 120px 5px;
    border-radius: 16px;
    justify-content: center;
    justify-content: space-around;
   
    
    
 }
 .party-time h2{
    padding: 100px 0;
    text-align: center;
    color: #070211;
font-family: Inter;
font-size: 32px;

 }
    
 
 .time-heading{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
}
.btn-2{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.new-offer-container{
    display: flex;
    margin: auto;
    width: 1300px;
    background: #FFF;
}
.new-offer{
    padding: 22px 0;
}
.people-img{
    justify-content: center;
    align-content: center;
    align-items: center;
}
.new-offer-1{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.new-offer-2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;

font-weight: 900;


}
.new-offer-3{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;

}
.new-offer-4{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.new-offer-5{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
 .new-offer-image{
    width: 400px;
    height: 400px;
     border-radius: 400px;
    border: 10px solid #FF0000;
    padding: 20px;
    margin: auto;
 }
.offer{
    text-align: left;
    margin: auto;
}
.offer-info{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}
.offer-name{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.offer-desc{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
}
.subscription{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin: 120px 140px;
}

.newsletter{
    text-align: center;
}
.para{
    text-align: center;
}
.box{
    display: block;
}

.last{
    border-radius: 0px 50px 50px 0px;
background: #F00;
width: 120px;
height: 50px;
border: 0;
padding: 15px 20px;
color: #FFF;
text-align: center;
font-family: Inter;
font-weight: 600;
}
.flex{
    display: flex;
    justify-content: center ;
    margin-top: 48px;
    padding-bottom: 80px;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.sub-info{
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding-top: 80px;
}